
{% extends 'base.html' %}

{% block body %}

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="/static/images/analisis.png" width="40" class="d-inline-block align-top" alt="">
    Sistema de Planificación de Pedidos
  </a>
    <form class="form-inline">
    <a href="/" class="btn btn-outline-primary">RETORNAR AL INICIO</a>

  </form>
</nav>

<br>

<div class="container">



  <div class="card border-dark mb-3" style="max-width: auto;">
    <div class="card-header"><center>UNIVERSIDAD POLITÉCNICA SALESIANA - SEDE QUITO - CAMPUS SUR</center> </div>
    <div class="card-body text-dark">
      <center><img src="/static/images/ups.png" width="300"></center>
      <h5 class="card-title"><center>CARRERA DE INGENIERIA EN CIENCIAS DE LA COMPUTACIÓN </center></h5>
      <p class="card-text"><center>PROYECTO INTEGRADOR CORRESPONDIENTE A LAS MATERIAS DE : INGENIERIA DE SOFTWARE - INTERACCIÓN HUMANO MAQUINA - APRENDIZAJE DE MAQUINA</center></p>

      <p>
    TEMA DE PROYECTO : SISTEMA WEB PARA PLANIFICACIÓN DE PEDIDOS <br><br>
        <b>DESARROLLADORES DEL SITIO :</b>
    </p>
    <ul>

      <li> JONATHAN SEBASTIAN PASTAS PASTAZ - jpastas@est.ups.edu.ec </li>
      <li> BITMAN LUCIANO POZO TOCTO - bpozot@est.ups.edu.ec </li>
      <li> DANNY JAVIER TATAYO HERNANDEZ- dtatayoh@est.ups.edu.ec </li>
    </ul>
      <br>
      <br>
      <b><i>SEPTIMO NIVEL - GRUPO 1</i></b>
      <br>
      <center> <b><i> ENERO 2020</i></b></center>
  </div>
</div>

</div>

<br>
<br>
<br>

{% endblock %}